.app-container {
  display: grid;
  width:95%;
  grid-template-areas:
  "logo break nav "
  "tags break n "
  "tags break li";
  text-align: center;
  row-gap: 3px;
  column-gap: 3px;
  grid-template-columns: 1fr 1px 7fr;
  grid-template-rows: 50px 200px auto;

}

.app-logo{ grid-area: logo;}





.app-break{
  display: block;
  grid-area: break;
  width: 1px;
  border: 0;
  border-left: 1px solid #080808;
  margin: 1em 0;
  padding: 0;
}

/* .app-search-label{
  height: 30%;
  grid-row: 2 / 2;
  grid-column: 1 / 2;
} */






.app-list{ grid-area: li;}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #080808;
  margin: 1em 0;
  padding: 0;
}

