.tag{
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    width: min-content;
    height: min-content;
}

.tag-pressed{
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    width: min-content;
    height: min-content;
    background-color: blue;
}


.small-text-size{
    font-size: 12px ;
}

.wrap-buttons{
    flex-wrap: wrap;
}